antlr4-python3-runtime==4.10
carla==0.9.15
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
decorator==5.2.1
elementpath==1.3.3
ephem==4.2
fonttools==4.57.0
graphviz==0.20.3
idna==3.10
importlib_resources==6.4.5
kiwisolver==1.4.7
lxml==4.6.2
matplotlib==3.7.5
networkx==2.2
numpy==1.18.4
opencv-python==4.2.0.32
packaging==25.0
pillow==10.4.0
psutil==7.0.0
py-cpuinfo==9.0.0
py-trees==0.8.3
pydot==4.0.0
pygame==2.6.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-tr==0.1.2
requests==2.32.3
Shapely==1.7.1
simple_watchdog_timer==0.1.1
six==1.17.0
tabulate==0.9.0
tqdm==4.67.1
urllib3==2.2.3
xmlschema==1.0.18
zipp==3.20.2